@page
@model Web_QuanLyCuaHang_OOP.Pages.MH_ThongKe_HetHanModel
@{
    ViewData["title"] = "Thống Kê Mặt Hàng Hết Hạn";
}

<h4>@ViewData["title"]</h4>

<table>
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Công Ty</th>
        <th>Loại Hàng</th>
        <th>Năm Sản Xuất</th>
        <th>Hạn Sử Dụng</th>
        <th>Số Lượng</th>
    </tr>
    @foreach (var s in Model.dsMatHang)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Company</td>
            <td>@s.Category</td>
            <td>@s.Year</td>
            <td>@s.Exp.ToString("dd/MM/yyyy")</td>
            <td>@s.SoLuong</td>
        </tr>
    }
    </>
</table>
@Model.chuoiThongBao
